.cabecalho {
    background: linear-gradient(113deg, rgba(22,10,24,1) 0%, rgba(32,0,1,1) 97%);
}

.cabecalho__nav {
    background-color: inherit;
    padding: 1em 0em;
}

.lista-nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 1em 0.5em;
    text-transform: uppercase;
    row-gap: 1em;
    font-weight: bold;
    font-size: 0.8em;
}

.nav__all:active, .nav__frontend:active, .nav__backend:active, .nav__frameworks:active, .nav__cloud:active, .nav__databases:active, .nav__environment:active {
    color: gold;
}

.nav__item {
    cursor: pointer;
}

.lista-principal {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    min-height: 60vh;
    padding: 3em 3em;
    gap: 1em;
    box-sizing: border-box;
}

.item-figure {
    text-align: center;
    font-size: 0.8em;
}

.item-figure__img {
    width: 80px;
    height: 80px;
}

.item-figure__figcaption {
    background-color: #222222;
}

.animacao {
    transition: 0.25s;
    animation-name: example;
    animation-duration: 0.2s;
}

@keyframes example {
    0% {transform: scale(0.1);}
    25% {transform: scale(0.25);}
    50% {transform: scale(0.50);}
    75% {transform: scale(0.75);}
    100% {transform: scale(1);}
}